<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- rosbag elevation map -->
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find MAPR_elevation_map_project)/maps/terrain_map.bag"/>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find MAPR_elevation_map_project)/rviz/elevation_map.rviz" />

  <!-- ompl-based motion planning node -->
  <node pkg="ompl_example_2d" name="ompl_example_2d_node" type="ompl_example_2d_node" output="screen" />
    

</launch>
